---
import Layout from '../../layouts/Wizard.astro';
import Header from '../../components/wizard/Header.svelte';
import GameList from '../../components/wizard/GameList.svelte';
import { t } from '../../utils/i18n';

const { title, description } = t.wizard.about;
---

<Layout title={title} description={description}>
  <Header title={title} client:load />
  <main>
    <p>
      <a
        href="https://en.wikipedia.org/wiki/Wizard_(card_game)"
        target="_blank"
      >
        Wizard
      </a>
      {t.wizard.about.p1}
    </p>
    <p>
      {t.wizard.about.p2}
    </p>
    <p>
      {t.wizard.about.p3}
    </p>
    <div class="buttons">
      <a class="button primary" href="/wizard/new">{t.wizard.about.new}</a>
    </div>

    <GameList client:load />
  </main>
</Layout>

<style>
  main {
    max-width: var(--layout-max-width-prose);
    margin-inline: auto;
    padding-inline: var(--layout-frame);
    padding-bottom: var(--layout-frame);
  }

  p {
    margin-bottom: 0.75rem;
    font-size: var(--font-size-prose);
    line-height: var(--line-height-prose);
    text-wrap: pretty;
  }

  p a {
    font-family: var(--font-family-display);
    font-size: 0.9em;
  }

  .buttons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .games-title {
    margin-top: 3rem;
  }

  .games {
    list-style: none;
    margin-top: 1rem;
    padding: 0;
  }
</style>
