---
import { LANGUAGE } from 'astro:env/client';
import { ClientRouter } from 'astro:transitions';
import ReloadPrompt from '../components/ReloadPrompt.svelte';

import './base.css';

export interface Props {
  title: string;
  description: string;
  faviconDir?: 'dice' | 'wizard';
}

const { title = 'Games', description, faviconDir = 'dice' } = Astro.props;
---

<!doctype html>
<html lang={LANGUAGE}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <slot name="head" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`/icons/${faviconDir}/apple-touch-icon.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`/icons/${faviconDir}/favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`/icons/${faviconDir}/favicon-16x16.png`}
    />
    <link rel="manifest" href={`/icons/${faviconDir}/site.webmanifest`} />
    <link
      rel="mask-icon"
      href={`/icons/${faviconDir}/safari-pinned-tab.svg`}
      color="#8e4491"
    />
    <link rel="shortcut icon" href={`/icons/${faviconDir}/favicon.ico`} />
    <meta
      name="msapplication-config"
      content={`/icons/${faviconDir}/browserconfig.xml`}
    />
    <meta
      name="theme-color"
      content="#fff"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="#0d0d0d"
      media="(prefers-color-scheme: dark)"
    />

    <ClientRouter />
  </head>
  <body>
    <div id="root">
      <slot />
    </div>
    <ReloadPrompt client:only="svelte" />
  </body>
</html>
