---
import { LOGO } from '../lib/wizard/constants';

import Layout from './Base.astro';

import './wizard.css';

export interface Props {
  title: string;
  description: string;
  link?: { label: string; href: string };
}

const { title, description, link } = Astro.props;
---

<Layout title={title} description={description} faviconDir="wizard">
  <link
    slot="head"
    rel="preload"
    as="font"
    type="font/woff2"
    href="/fonts/Metamorphous-Regular.woff2"
    crossorigin
  />
  <header>
    <div class="brand">
      <a href="/" aria-label="All games" class="logo">{LOGO}</a>
      <h2>Wizard</h2>
    </div>
    {
      link && (
        <a class="link" href={link.href}>
          {link.label}
        </a>
      )
    }
  </header>

  <main>
    <slot />
  </main>
</Layout>

<style>
  header {
    max-width: var(--layout-max-width-prose);
    margin: 0 auto;
    padding: var(--layout-gutter) var(--layout-frame);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--font-family-display);
    font-size: 2rem;
    line-height: var(--line-height-heading);
  }

  .logo {
    line-height: 1;
    transition: transform var(--transition-micro);
    text-decoration: none;
    border-radius: 4px;
  }

  .logo:hover,
  .logo:focus {
    transform: scale(1.1);
  }

  h2 {
    font-size: 1.33rem;
  }

  .link {
    color: var(--color-fg-default);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: max(0.05em, 1px);
  }

  .link:hover,
  .link:focus {
    text-decoration-thickness: max(0.1em, 2px);
  }

  main {
    max-width: var(--layout-max-width-prose);
    margin: 0 auto;
    padding: var(--layout-gutter) var(--layout-frame);
  }
</style>
